html, body {
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 15px;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.legenda {
  width: 28%;
  margin-top: 7px;
  
}

h2 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.legenda:hover h2 {
  background-color: black;
  transition: 0.25s;
  color: white;
}

.tower {
  display: flex; 
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  width: 28%;
  height: 100%;
  padding-top: 9px;
  margin-bottom: 10px;
  box-sizing: content-box;
}

.tower:hover {
  box-sizing: content-box;
  border-bottom: 5px solid black;
}

.stick {
  height: 129px;
  width: 25px;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column-reverse;
}

.diskOne {
  background-color: white;
  height: 21px;
  width: 120px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: -1px;
}

.diskTwo {
  background-color: white;
  height: 21px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: -1px;
}

.diskThree {
  background-color: white;
  height: 21px;
  width: 80px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: -1px;
}

.diskFour {
  background-color: white;
  height: 21px;
  width: 60px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: -1px;
}

.diskFive {
  background-color: white;
  height: 21px;
  width: 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: -1px;
}

.semaforo {
  background-color: white;
  height: 95px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contador {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  text-align: center;
}

.contador:hover {
  color: white;
  background-color: black;
  font-size: 2.1rem;
  width: 110%;
  transition: 0.25s;
}

button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  width: 121px;
  
}

button:hover{
  color: white;
  background-color: black;
  font-size: 1.6rem;
  transition: 0.25s;
}



@media only screen and (max-width: 525px) {
  .chooseContainer {
    width: 242px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}